@import url('https://fonts.googleapis.com/css2?family=Poppins:wgt@300:400:500:600:700:800:900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*width, height값이 포함*/
    font-family: 'Poppins',sans-serif;
}

.service{
    display: flex;
    flex-direction: column;
    /*row:기본값, 좌에서 우로 생성
      row-reverse : 우->좌로 생성
      column: 위->아래로 생성
      column-reverse : 아래->위로 생성*/
    justify-content: center;
    min-height: 100vh;
    padding: 20px 9%;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    /*배경색을 그라데이션으로 적용(오른쪽으로 흘러가게)
      #e2e2e2부터 시작해서 끝은 #c9d6ff로 끝남*/
    color: #333;
    text-align: center;
}

.service .heading{
    font-size: 40px;
    margin-bottom: 20px;
}

.service .wrapper{
    display: grid;
    /*Flex는 한 방향 레이아웃 시스템이고 (1차원)
      Grid는 두 방향(가로-세로) 레이아웃 시스템*/
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /*columns 는 grid 아이템들의 가로열 크기를 지정
      repeat(반복횟수, 크기) 설정
      minmax 속성을 사용해서 최소 크기 지정*/
    gap: 20px;
}

.wrapper .box{
    padding: 30px 20px;
    background: #fff;
    border-radius: 10px;
    transition: 0.5s;
}

.wrapper .box:hover{
    transform: scale(1.03);
    /*scale은 배울 변형(확대/축소) 0.3%가 확대*/
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.box i{
    font-size: 60px;
    color: #7494ec;
}

.box h2{
    font-size: 25px;
}

.box p{
    margin: 10px 0 18px;
}

.box .btn{
    display: inline-block;
    /*block은 다른 엘리먼트들을 다른 줄로 밀어내고
              혼자 한 줄을 차지,
              width, height, margin, padding 속성이
              모두 반영
      inline  한 줄에 다른 엘리먼트들과 나란히 배치,
              좌,우간격만 설정가능/상하간격은 적용X
      inline-block 줄바꿈 없이 한 줄에 다른 엘리먼트들과
                나란히 배치 + width와 height 속성 지정 및
                margin과 padding 속성의 상하 간격 지정이 가능*/

    padding: 8px 20px;
    background: #7494ec;
    border: 2px solid #7494ec;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
}

.box .btn:hover{
    background: transparent;
    color: #7494ec;
}

@media screen and (max-width:992px) {
    .service{
        padding: 20px 5%;
    }
}

@media screen and (max-width:350px) {
    .service .wrapper{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
}