@import url('https://fonts.googleapis.com/css2?family=Poppins:wgt@300:400:500:600:700:800:900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*width, height값이 포함*/
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #7d2ae8;
}

.wrapper{
    margin: 150px auto;
    width: 70%;
}

img{
    max-width: 320px;
    float: left;
    border: 3px solid #fff;
    border-radius: 10px;
    margin: 15px;
}



.text-box{
    color: #fff;
}

.text-box h2{
    font-size: 42px;
}

.text-box p{
    font-size: 16px;
}